* {

margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.App{
background-image: url("./img/warm.jpg");
background-size: cover;
background-position: bottom;
transition: 0.4s;
}
.App.cold{
  background-image: url("./img/hold.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s;
}
main{
display: grid;
grid-template-columns: 50% 50%;
min-height: 100vh;
background-image: linear-gradient(to bottom,
rgba(0,0,0,0.2)
rgba(0,0,0,0.75)

);
padding: 25px;
}
.search-box{
width: 100%;
margin: 0 0 75px;
}
.search-box input{
display: block;
width: 100%;
padding: 15px;
appearance: none;
border: none;
outline: none;
background: none;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 0px 16px 0px 16px;
margin-top: 35px;
border-bottom: solid 5px yellow;
box-shadow: 0px 5px rgba(0,0,0,0.2);
font-size: 20px;
transition: 0.5s ease;
}
.search-box input:focus{
 background-color: rgba(255, 255, 255, 0.75);
border-radius:16px 0px 16px 0px ;

}
.location-box .location{
  margin-top: 10vh;
 color: #fff;
 font-style: 32px;
 font-weight: 500;
 text-align: center;
 text-shadow: 3px 3px rgba(50,50,70,0.75);
}
.location-box .data{
color: #fff;
font-size: 20px;
font-weight: 300;
font-style: italic;
text-align: center;
text-shadow: 2px 2px rgba(255,255,255,0.5);
}
.weather-box {
text-align: center;
}
.weather-box .temp{
position: relative;
display: inline-block;
margin: 30px auto;
background-color: rgba(255,255,255,0.2);
border-radius: 16px;
padding: 15px 2px;
color: #fff;
font-size: 100px;
font-weight: 900;
text-shadow: 3px 6px rgba(50,50,70,0.5);
text-align: center;
box-shadow: 3px 6px rgba(0,0,0,0.2);
}
.weather-box .weather{
color: #fff;
font-size: 40px;
font-weight: 700;
text-shadow: 3px 3px rgba(50,50,70,0.5);
}